@use "../variables.scss";

.collapse {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;


    .collapse-title {
        background-color: variables.$main-color;
        border-radius: 10px;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        height: 52px;
        box-sizing: border-box;


        .collapse-title-text {
            color: white;
            @include variables.size-18-700;
        }

        .collapse-toggle {
            color: white;
        }
    }

    .collapse-content {
        background-color: rgba(variables.$secondary-color, 0.45);
        @include variables.size-18-400;
        color: black;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        z-index: -1;
        max-height: 0;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        // padding: 0 20px;
        box-sizing: border-box;
        opacity: 0;
        transition: all 0.3s ease;

        &.open {
            max-height: 100vh;
            transform: scaleY(1);
            opacity: 1;
            padding: 20px 20px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .collapse {
        .collapse-title {
            height: 30px;

            .collapse-title-text {
                @include variables.size-13-700;
            }

            .collapse-toggle {
                scale: 0.7;
            }

        }
    }
}

