@use "../variables.scss";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    background-color: #000;
    color : #fff;
    width: 100%;
    
    img {
        padding-top: 66px;
    }
    p {
        padding-top: 134px;
        position: absolute;
        @include variables.size-24-500;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
        
        p {
            padding-top: 105px;
            @include variables.size-12-500;
            width: 100px;
        }
    }
}