@use "../variables.scss";

header {
    @include variables.flex-between-center;
    @include variables.max1440-center;
    height: 68px;
    nav {
        @include variables.flex-between-center;
        gap: 57px;
        a {
            @include variables.size-24-500;
            text-decoration: none;
            color: #000;
        }
    }
}

@media (max-width: 768px) {
    header {
        height: 47px;
        @include variables.mobile-center;
        nav {
            gap: 26px;
            flex-wrap: wrap;

            a {
                @include variables.size-12-500;
                text-transform: uppercase;
            }
        }

        img {
            transform-origin: left;
            scale : 0.69;
        }
    }
    
}