@use "../variables.scss";

.img-entete {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        @include variables.img-cut-desktop;
        @include variables.img-shadow;
        height: variables.$haut-img;
        z-index: -1;
        position: absolute;
        top: 0;
    }

    .background-img {
        @include variables.img-cut-desktop;
        height: variables.$haut-img;
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        align-self: center;
        margin: 0;
        color: white;
        padding: 0 16px;  
        
        text-shadow: 
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    }


}

