@use 'components/header';
@use 'components/footer';
@use 'components/img-entete';
@use 'components/card';
@use 'components/carousel';
@use 'components/collapse';


@use 'pages/error';
@use 'pages/accueil';
@use 'pages/apropos';
@use 'pages/logement';

@use './variables';


body {
    margin: 0;
    padding: 0;


    .root {
        font-family: variables.$main-font;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
    }
}

.souligné {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        .root {
            padding-top: 27px;
            gap: 27px;
        }
    }
}