@use "../variables.scss";

.accueil {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include variables.max1440-center;
    
}

.card-wrapper {
    background-color: variables.$secondary-color;
    height: auto;
    width: 100%;
    @include variables.img-cut-desktop;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 50px 50px;
    box-sizing: border-box;

}

@media (max-width: 768px) {
    .accueil {
        @include variables.mobile-center;
        gap: 27px;
    }

    .card-wrapper {
        @include variables.img-cut-mobile;
        padding: 20px 20px;
        gap: 22px 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}