@use "../variables.scss";

.accueil {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include variables.max1440-center;
    
}

.card-wrapper {
    background-color: #F6F6F6;
    height: auto;
    width: 100%;
    @include variables.img-cut-desktop;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 56px;
    padding: 50px 56px;
    box-sizing: border-box;

}