@use "../variables.scss";

.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 139px;
    color : variables.$main-color;

    h1 {
        font-size: 288px;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }

    .souligné {
        @include variables.size-18-500;
        text-decoration: underline;
        color: black;
        padding-bottom: 100px;

    }
}

@media (max-width: 768px) {
    .error-wrapper {
        gap: 113px;
        padding-top: 50px;

        h1 {
            font-size: 96px;
        }

        p {
            font-size: 18px;
            width: 260px;
        }
    }
}